@page "/"

<h1>Hello, welcome to my Blazor experiments</h1>

You can find sources at <a href="https://github.com/MelnikovIG/BlazorTest">https://github.com/MelnikovIG/BlazorTest</a>.

<SurveyPrompt Title="How is Blazor working for you?" />
